# Literais em Python
### Literais inteiros

In [37]:
print(1)
print(10)
print(1_111_111_111_111)

1
10
1111111111111

### inteiro na base 2 (binário)
0b10 => 2

In [38]:
print(0b10) # 2

2

### Inteiro na base 8 (octal)
0o123

In [39]:
print(0o123) # 83
# print(0123)# erro

83

### Inteiro na base 16 (hexadecimal)
0x123 = 291

In [40]:
print(0x123) # 291

291

### Floats - Númericos com casas decimais

In [41]:
print(1.0)
print(2.5)
print(3.)
print(2e-22)
print(0.0_000_000_000_000_000_000_001)

1.0
2.5
3.0
2e-22
1e-22

### Strings - Textos

In [42]:
print("texto com aspas duplas")
print('texto com aspas simples')
print("texto com escapes: \n\t\"")
print("""texto com multiplas
linhas
linha2
linha3""")

texto com aspas duplas
texto com aspas simples
texto com escapes:
	"
texto com multiplas
linhas
linha2
linha3

### Booleanos - Lógicos (True ou False, 1 ou 0)

In [43]:
print(True > False)
print(True < False)

True
False

### Laboratório 2.2.6
**Cenário**<br>
Escreva um código de uma linha usando a função de print(), bem como os caracteres de nova linha e de escape, para corresponder ao resultado esperado gerado em três linhas.

**Saída esperada**
```
"Eu sou"
""aprendizado""
"""Python"""
```

In [ ]:
print("\"Eu sou\"\n\"\"aprendizado\"\"\n\"\"\"Python\"\"\"") # primeira forma
print('"Eu sou"\n""aprendizado""\n"""Python"""') # segunda forma
print('"Eu sou"','""aprendizado""','"""Python"""',sep="\n") # terceira forma

"Eu sou"
""aprendizado""
"""Python"""

### Literal None

In [45]:
print(None)

None